
form {
  background-color:#aaaa;
  border-radius: 10px;
  padding:10px;
}
fieldset {
  Legend{
    font-size:40px;
  }
}
label{
  color:#555;
}
input{
  border:3px;
  display:block;
}
#content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  p{
    grid-row-start:1;
    grid-row-end:1;
  }
}

#content:nth-child(1){
  grid-row-start:1;
  grid-row-end: 4;
}

@media screen and (min-width: 0px){
  main{
    background-color:gray;
  }
}

@media screen and (min-width: 600px) {
  main{
    background-color:salmon;
  }
}
@media screen and (min-width: 900px) {
  main{
    background-color:green;
  }
}
